<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Account</title>
</head>
<body>
<h3>Form tao moi tai khoan</h3>

<form th:action="${'/account/update'}" method="post">
    <p>Ten Tai Khoan</p>
    <input type="text" name="userName" />
    <p>Ten Day Du</p>
    <input type="text" name="fullName" />
    <p>Dia chi Email</p>
    <input type="text" name="email" />
    <p>Mat Khau</p>
    <input type="text" name="password" />
    <p>Role</p>
    <input type="radio" id="EMPLOYEE" name="Role" value="EMPLOYEE">
    <label for="EMPLOYEE">EMPLOYEE</label><br>
    <input type="radio" id="ADMIN" name="Role" value="ADMIN">
    <label for="ADMIN">ADMIN</label><br>

    <p>Id Department</p>
    <input type="text" name="departmentId" />
    <br />

    <input type="submit" value="Them" />
</form>
</body>
</html>