<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Account</title>
    <style>
        *
        td{border: 1px solid black;}
    </style>
</head>
<body>
      <h1>List Account</h1>
      <a th:href="${'/account/add'}">Them Account</a>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>UserName</td>
        <td>FullName</td>
        <td>Email</td>
        <td>Role</td>
        <td>Department Name</td>
        <td></td>
        <td></td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${listAccount}">
        <td th:text="${obj.id}">Id</td>
        <td th:text="${obj.userName}">UserName</td>
        <td th:text="${obj.fullName}">FullName</td>
        <td th:text="${obj.email}">Email</td>
        <td th:text="${obj.role}">Role</td>
        <td th:text="${obj.departmentId}">Department Name</td>
        <td><a th:href="${'/account/deleteById/' + obj.id}">Delete</a></td>
        <td><a th:href="${'/account/edit/' + obj.id}">Edit</a></td>
        <td></td>
    </tr>
    </tbody>
</table>

</body>
</html>