<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Article</title>
    <style>
        *
        td{border: 1px solid black;}
    </style>
</head>
<body>
<h1>List Department</h1>
<a th:href="${'/department/add'}">Them</a>

<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Department Name</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${listDepartment}">
        <td th:text="${obj.id}">Id</td>
        <td th:text="${obj.departmentName}">Department Name</td>
        <td><a th:href="${'/department/deleteById/' + obj.id}">Delete</a></td>
        <td><a th:href="${'/department/edit/' + obj.id}">Edit</a></td>
        <td></td>
    </tr>
    </tbody>
</table>

</body>
</html>