<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>
<h3>Edit Department</h3>

<form th:action="${'/department/update'}" method="post">
    <p style="display:none">Id</p>
    <input style="display:none" type="text" name="id" th:value="${department.id}"/>
    <p>Ten bai viet</p>
    <input type="text" name="departmentName" th:value="${department.departmentName}"/>
    <br />

    <input type="submit" value="Update" />
</form>
</body>
</html>