<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Account</title>
    <style>
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>List Account</h1>

    <table>
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>UserName</b></td>
                <td><b>Password</b></td>
                <td><b>FullName</b></td>
                <td><b>Email</b></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${listAccount}">
                <td th:text="${obj.id}">Id</td>
                <td th:text="${obj.username}">userName</td>
                <td th:text="${obj.password}">passwordfullName</td>
                <td th:text="${obj.fullName}">fullName</td>
                <td th:text="${obj.email}">email</td>
                <td><a th:href="${'/account/delete/' + obj.id}">Delete</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</body>
</html>