<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Article</title>
    <style>
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h1>List Article</h1>

    <table>
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>Title</b></td>
                <td><b>Content</b></td>
                <td><b>CreateDate</b></td>
                <td><b>UpdateDate</b></td>
                <td><b>Image</b></td>
                <td><b>CategoryName</b></td>
                <td><b></b></td>
                <td><b></b></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${listArticle}">
                <td th:text="${obj.id}">Id</td>
                <td th:text="${obj.title}">title</td>
                <td th:text="${obj.content}">content</td>
                <td th:text="${obj.createDate}">createDate</td>
                <td th:text="${obj.updateDate}">updateDate</td>
                <td th:text="${obj.image}">image</td>
                <td th:text="${obj.categoryName}">categoryName</td>
                <td><a th:href="${'/article/delete/' + obj.id}">Delete</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>