<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
    <style>
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h1>List Category</h1>

    <table>
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>CategoryName</b></td>
                <td><b>Description</b></td>
                <td><b></b></td>
                <td><b></b></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${listCategory}">
                <td th:text="${obj.id}">Id</td>
                <td th:text="${obj.categoryName}">categoryName</td>
                <td th:text="${obj.description}">description</td>
                <td><a th:href="${'/category/delete/' + obj.id}">Delete</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</body>
</html>