<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">

    <style>
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h3>Update Account</h3>

    <form th:action="${'/account/update'}" method="post">
        <p style="display: none">Id</p>
        <input type="text" name="id" th:value="${account.id}"/>

        <p>UserName</p>
        <input type="text" name="username" th:value="${account.username}"/>

        <p>Password</p>
        <input type="text" name="password" th:value="${account.password}"/>

        <p>FirstName</p>
        <input type="text" name="firstName" th:value="${account.firstName}"/>

        <p>LastName</p>
        <input type="text" name="lastName" th:value="${account.lastName}"/>

        <p>Role</p>
        <input type="text" name="role" th:value="${account.role}"/>

        <p>DepartmentId<i>(1:Sale, 2:Academy, 3:HR, 4:Education, 5:Tester)</i></p>
        <input type="number" name="department" th:value="${account.department.id}"/>

        <input type="submit" value="Update">
        <br/>
    </form>

</body>
</html>