<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">

    <style>
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h2>Update Department</h2>

        <form th:action="${'/department/update'}" method="post">
            <p style="display: none">Id</p>
            <input type="text" name="id" th:value="${department.id}"/>

            <p>Name</p>
            <input type="text" name="name" th:value="${department.name}"/>

            <p>Total Member</p>
            <input type="text" name="totalMember" th:value="${department.totalMember}"/>

            <p>Type</p>
            <input type="radio" id="PM" name="Type" value="PM">
            <label for="PM">PM</label>
            <input type="radio" id="DEV" name="Type" value="DEV">
            <label for="DEV">DEV</label>
            <input type="radio" id="SCRUM_MASTER" name="Type" value="SCRUM_MASTER">
            <label for="SCRUM_MASTER">SCRUM_MASTER</label>
            <input type="radio" id="TEST" name="Type" value="TEST">
            <label for="TEST">TEST</label><br/>

            <input type="submit" value="Update"/>
            <br/>
        </form>


</body>
</html>