<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
    <style>
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>

  <h3>Form update bài viết</h3>

    <form th:action="${'/article/update'}" method="post">
        <p style="display: none">Id</p>
        <input type="text" name="id" th:value="${article.Id}" />

        <p>Tên bài viết</p>
        <input type="text" name="articleName" th:value="${article.articleName}" />

        <p>Mô tả</p>
        <input type="text" name="description" th:value="${article.description}"/>

        <input type="submit" value="Update" />
        <br />
    </form>
</body>
</html>