<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Article</title>
    <style>
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>List Article</h1>
    <a th:href="${'/article/add/'}">Thêm</a>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Article Name</td>
                <td>Description</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${listArticle}">
                <td th:text="${obj.id}">Id</td>
                <td th:text="${obj.articleName}">Article Name</td>
                <td th:text="${obj.description}">Description</td>
                <td><a th:href="${'/article/delete/' + obj.id}">Delete</a></td>
                <td><a th:href="${'/article/edit/' + obj.id}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>