<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Department</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3>From Create New Department</h3>
    <a th:href="@{/api/v1/departments}" class="btn btn-primary">Back Department</a>

    <br>
    <br>

    <form th:action="${'/api/v1/departments/creating'}" method="post">
        <p>Department Name</p>
        <input type="text" name="name" class="form-control mb-4 col-4">

        <p>Total Member</p>
        <input type="text" name="totalMember" class="form-control mb-4 col-4">

        <p>Type</p>
        <input type="text" name="type" class="form-control mb-4 col-4">

        <br>
        <br>

        <button type="submit" class="btn btn-info col-2">Add</button>
    </form>
</div>
</body>
</html>