<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>


<body>
<div>
    <h1>View List Department</h1>

    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a> <br>
    <a th:href="@{/api/v1/departments/add}" class="btn btn-primary btn-sm mb-3">Add Department</a> <br>

    <table border="1" class="table table-striped table-responsiv-mb">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/api/v1/departments/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Id</a>
            </th>
            <th>
                <a th:href="@{'/api/v1/departments/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Department
                    Name</a>
            </th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="department : ${listDepartment}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td><a th:href="@{/api/v1/departments/delete/{id}(id=${department.id})}" class="btn btn-danger">Delete</a>
            </td>
            <td><a th:href="@{/api/v1/departments/edit/{id}(id=${department.id})}" class="btn btn-primary">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/api/v1/departments/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/api/v1/departments/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${1 < currentPage && currentPage <= totalPages}"
                   th:href="@{'/api/v1/departments/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                <span th:unless="${1 < currentPage && currentPage <= totalPages}">Previous</span>
            </div>


            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/api/v1/departments/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
</div>
</body>
</html>